<table
  align="center"
  bgcolor="#EEF4F8"
  border="0"
  cellpadding="0"
  cellspacing="0"
  height="100%"
  style="border-collapse: collapse"
  width="100%"
>
  <tbody>
    <tr>
      <td align="center" height="20" valign="top"></td>
    </tr>
    <tr>
      <td align="center" valign="top" width="600" style="padding: 0 16px">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width: 600px; border-collapse: collapse">
          <tbody>
            <tr>
              <td align="center" style="max-width: 600px" valign="top" width="600">
                <table
                  align="center"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  style="border-collapse: collapse"
                  width="100%"
                >
                  <tbody>
                    <tr>
                      <td align="center" bgcolor="#EEF4F8" valign="top">
                        <table
                          align="center"
                          border="0"
                          cellpadding="0"
                          cellspacing="0"
                          style="border-collapse: collapse"
                          width="100%"
                        >
                          <tbody>
                            <tr>
                              <td height="20" valign="top"></td>
                            </tr>
                            <tr>
                              <td valign="top">
                                <table
                                  border="0"
                                  cellpadding="0"
                                  cellspacing="0"
                                  style="border-collapse: collapse"
                                  width="105"
                                >
                                  <tbody>
                                    <tr>
                                      <td>
                                        <a
                                          href="#m_3613125183877691704_"
                                          style="
                                            color: #333333;
                                            text-decoration: none;
                                            height: 25px;
                                            width: 150px;
                                            display: block;
                                            line-height: 25px;
                                          "
                                        >
                                          <img
                                            height="25"
                                            width="150"
                                            alt="Vakilsearch"
                                            border="0"
                                            src="https://assets.vakilsearch.com/live-images/partnerportalassets/new/Vakilsearch.png"
                                            style="display: inline-block; vertical-align: bottom; margin: auto"
                                            data-bit="iit"
                                          />
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="20" valign="top"></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" bgcolor="#FFFFFF" valign="top" style="padding: 0 5px">
                        <table
                          align="center"
                          border="0"
                          cellpadding="0"
                          cellspacing="0"
                          style="border-collapse: collapse"
                          width="85%"
                        >
                          <tbody>
                            <tr>
                              <td height="32"></td>
                            </tr>
                            <tr>
                              <td valign="top">
                                <table
                                  align="center"
                                  border="0"
                                  cellpadding="0"
                                  cellspacing="0"
                                  style="border-collapse: collapse"
                                  width="105"
                                >
                                  <tbody>
                                    <tr>
                                      <td height="29" align="center">
                                        <a href="#m_3613125183877691704_" style="color: #333333; text-decoration: none">
                                          <img
                                            height="60"
                                            alt="All signers signed"
                                            border="0"
                                            src="https://ci6.googleusercontent.com/proxy/sUvuae33jtLuFxgMIWPXiR-nM9A8u5Vfdu9B6LiSPNDkzlS92UfnzmYLaPNd7In6sllSCb5qfcC9UZY24XZZE8F_NhiUcrb7wg=s0-d-e1-ft#https://cdn.syncfusion.com/boldsign/common/success.png"
                                            class="CToWUd"
                                            data-bit="iit"
                                          />
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="24"></td>
                            </tr>
                            <tr>
                              <td
                                align="left"
                                style="
                                  font-family: 'Roboto', Arial;
                                  font-size: 16px;
                                  color: #333333;
                                  font-weight: normal;
                                  line-height: 24px;
                                  letter-spacing: 0.32px;
                                  text-align: left;
                                "
                                valign="top"
                                width="370"
                              >
                                Hi {{fromUser.signerName}},
                              </td>
                            </tr>
                            <tr>
                              <td height="16"></td>
                            </tr>
                            <tr>
                              <td align="center" valign="top">
                                <table
                                  align="center"
                                  width="100%"
                                  border="0"
                                  cellpadding="0"
                                  cellspacing="0"
                                  style="border-collapse: collapse"
                                >
                                  <tbody>
                                    <tr>
                                      <td
                                        align="left"
                                        style="
                                          font-family: 'Roboto', Arial;
                                          font-size: 16px;
                                          text-align: left;
                                          color: #333333;
                                          font-weight: 400;
                                          line-height: 24px;
                                          letter-spacing: 0.32px;
                                        "
                                        valign="top"
                                        width="370"
                                      >
                                        All recipients have successfully completed the document
                                        <b>{{document.messageTitle}}</b>. A copy of the final document is attached to this
                                        email.
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height="24" style="font-size: 1px"></td>
                            </tr>
                            <tr>
                              <td
                                height="1"
                                width="510"
                                style="
                                  font-size: 1px;
                                  line-height: 1px;
                                  width: 100%;
                                  max-width: 510px;
                                  background-color: #eeeeee;
                                "
                              ></td>
                            </tr>
                            <tr>
                              <td height="24" style="font-size: 1px"></td>
                            </tr>
                            <tr>
                              <td
                                style="
                                  color: #333;
                                  text-align: left;
                                  font-size: 16px;
                                  font-family: 'Roboto', Arial;
                                  line-height: 28px;
                                  letter-spacing: 0.32px;
                                "
                              >
                                <span style="font-weight: bold">Signer(s):</span><br /><span
                                  style="font-size: 14px; font-weight: 400"
                                  ><table>
                                    <tbody>
                                      <tr>
                                        {{#each document.signerDetails}}
                                      </tr>

                                      <tr>
                                        <td style="padding: 10px 0px 0px 0px">
                                          {{this.signerName}} (<a href="mailto:{{this.signerEmail}}" target="_blank"
                                            >{{this.signerEmail}}</a
                                          >)
                                        </td>
                                      </tr>
                                      {{/each}}
                                    </tbody>
                                  </table></span
                                >
                              </td>
                            </tr>
                            <tr>
                              <td style="height: 12px"></td>
                            </tr>
                            <tr>
                              <td align="center" valign="top">
                                <table
                                  align="center"
                                  border="0"
                                  cellpadding="0"
                                  cellspacing="0"
                                  style="border-collapse: collapse"
                                  width="95%"
                                >
                                  <tbody>
                                    <tr>
                                      <td height="32"></td>
                                    </tr>
                                    <tr>
                                      <td align="center" valign="top">
                                        <table
                                          align="center"
                                          border="0"
                                          cellpadding="0"
                                          cellspacing="0"
                                          style="border-collapse: collapse"
                                        >
                                          <tbody>
                                            <tr>
                                              <td
                                                align="center"
                                                height="44"
                                                width="190"
                                                style="background: #ffd000; border-radius: 4px"
                                              >
                                                <a
                                                  href={{document.documentLink}}
                                                  style="
                                                    font-family: Roboto, Arial;
                                                    font-weight: bold;
                                                    color: white;
                                                    text-decoration: none !important;
                                                    background: #ffd000;
                                                    border-radius: 4px;
                                                    font-size: 16px;
                                                    letter-spacing: 0.32px;
                                                    display: inline-block;
                                                  "
                                                  target="_blank"
                                                  ><span style="color: #000; text-decoration: none">View Document</span></a
                                                >
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td height="42"></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" height="40" valign="top"></td>
    </tr>
  </tbody>
</table>
