<table
  align='center'
  bgcolor='#F7FAFC'
  border='0'
  cellpadding='0'
  cellspacing='0'
  height='100%'
  style='border-collapse: collapse'
  width='100%'
>
  <tbody>
    <tr>
      <td align='center' height='20' valign='top'></td>
    </tr>
    <tr>
      <td align='center' valign='top' width='550' style='padding: 0 16px'>
        <table
          align='center'
          width='550'
          border='0'
          cellpadding='0'
          cellspacing='0'
          style='max-width: 550px; border-collapse: collapse'
        >
          <tbody>
            <tr>
              <td align='center' bgcolor='#FFFFFF' style='max-width: 550px' valign='top' width='550'>
                <table
                  align='center'
                  border='0'
                  cellpadding='0'
                  cellspacing='0'
                  style='border-collapse: collapse'
                  width='100%'
                >
                  <tbody>
                    <tr>
                      <td align='center' bgcolor='#F7FAFC' valign='top'>
                        <table
                          align='center'
                          border='0'
                          cellpadding='0'
                          cellspacing='0'
                          style='border-collapse: collapse'
                          width='100%'
                        >
                          <tbody>
                            <tr>
                              <td height='20' valign='top'></td>
                            </tr>
                            <tr>
                              <td valign='top'>
                                <table
                                  border='0'
                                  cellpadding='0'
                                  cellspacing='0'
                                  style='border-collapse: collapse'
                                  width='105'
                                >
                                  <tbody>
                                    <tr>
                                      <td>
                                        <a
                                          href='https://vakilsearch.com'
                                          style='
                                              color: #333333;
                                              text-decoration: none;
                                              height: 32px;
                                              width: 150px;
                                              display: block;
                                              line-height: 32px;
                                            '
                                          target='_blank'
                                        >
                                          <img
                                            height='auto'
                                            width='150'
                                            alt=''
                                            border='0'
                                            src='https://assets.vakilsearch.com/live-images/partnerportalassets/new/Vakilsearch.png'
                                            style='display: inline-block; vertical-align: bottom; margin: auto'
                                            class='CToWUd'
                                          />
                                        </a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td height='18' valign='top'></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td align='center' valign='top' style='padding: 0 5px'>
                        <table
                          align='center'
                          border='0'
                          cellpadding='0'
                          cellspacing='0'
                          style='border-collapse: collapse'
                          width='85%'
                        >
                          <tbody>
                            <tr>
                              <td height='32'></td>
                            </tr>
                            <tr>
                              <td
                                align='left'
                                style="
                                    font-family: 'Roboto', Arial;
                                    font-size: 16px;
                                    color: #333333;
                                    font-weight: normal;
                                    line-height: 24px;
                                    letter-spacing: 0.32px;
                                    text-align: left;
                                  "
                                valign='top'
                                width='370'
                              >
                                Hi {{user.signerName}},
                              </td>
                            </tr>
                            <tr>
                              <td height='16'></td>
                            </tr>
                            <tr>
                              <td
                                align='left'
                                style="
                                    font-family: 'Roboto', Arial;
                                    font-size: 16px;
                                    color: #333333;
                                    font-weight: normal;
                                    line-height: 24px;
                                    letter-spacing: 0.32px;
                                    text-align: left;
                                    word-break: break-word;
                                  "
                                valign='top'
                                width='370'
                              >
                                {{message}}
                              </td>
                            </tr>
                            <tr>
                              <td height='24' style='font-size: 1px'></td>
                            </tr>
                            <tr>
                              <td align='center' valign='top'>
                                <table
                                  align='center'
                                  border='0'
                                  cellpadding='0'
                                  cellspacing='0'
                                  style='border-collapse: collapse'
                                  width='95%'
                                >
                                  <tbody>
                                    <tr>
                                      <td align='center' valign='top'>
                                        <table
                                          align='center'
                                          border='0'
                                          cellpadding='0'
                                          cellspacing='0'
                                          style='border-collapse: collapse'
                                        >
                                          <tbody>
                                            <tr>
                                              <td
                                                align='center'
                                                height='44'
                                                width='300'
                                                style='background: #ffd000; border-radius: 4px'
                                              >
                                                <a
                                                  href="{{signLink}}"
                                                  style="
                                                      white-space: nowrap !important;
                                                      font-family: 'Roboto', Arial;
                                                      font-weight: bold;
                                                      color: black;
                                                      text-decoration: none !important;
                                                      background: #ffd000;
                                                      border-radius: 4px;
                                                      font-size: 16px;
                                                      letter-spacing: 0.32px;
                                                      display: inline-block;
                                                    "
                                                  target='_blank'
                                                >
                                                  <span style='color: #000; text-decoration: none; padding: 0px 10px'>Review
                                                    and Sign</span>
                                                </a>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td height='24'></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            <tr>
                              <td
                                height='1'
                                width='510'
                                style='font-size: 1px; line-height: 1px; max-width: 510px; background-color: #eeeeee'
                              ></td>
                            </tr>
                            <tr>
                              <td height='14'></td>
                            </tr>
                            <tr>
                              <td
                                align='center'
                                valign='top'
                                style="
                                    color: #666e80;
                                    font-size: 16px;
                                    font-family: 'Roboto', Arial;
                                    text-decoration: underline;
                                  "
                              >
                                Document Details
                              </td>
                            </tr>
                            <tr>
                              <td height='28'></td>
                            </tr>
                            <tr>
                              <td
                                style="
                                    font-family: 'Roboto', Arial;
                                    font-size: 16px;
                                    line-height: 28px;
                                    color: #333;
                                    text-align: left;
                                    letter-spacing: 0.32px;
                                  "
                              >
                                <span style='font-weight: bold'> Document Title:</span>
                                <br />
                                <span style='font-size: 14px; font-weight: 400; word-break: break-word'>{{title}}</span>
                              </td>
                            </tr>
                            <tr>
                              <td height='12'></td>
                            </tr>

                            <!-- <tr>
                              <td
                                style="
                                    font-family: 'Roboto', Arial;
                                    font-size: 16px;
                                    line-height: 28px;
                                    color: #333;
                                    text-align: left;
                                    letter-spacing: 0.32px;
                                  "
                              >
                                <span style='font-weight: bold'>Expiry Date:</span>
                                <br />
                                <span style='font-size: 14px; font-weight: 400'>{{expiryDate}}</span>
                              </td>
                            </tr> -->

                            <tr>
                              <td height='12'></td>
                            </tr>

                            <tr>
                              <td
                                style="
                                    font-family: 'Roboto', Arial;
                                    font-size: 16px;
                                    line-height: 28px;
                                    color: #333;
                                    text-align: left;
                                    letter-spacing: 0.32px;
                                    display: none;
                                  "
                              >
                                <span style='font-weight: bold'>Message for everyone:</span><br />
                                <pre
                                  style="
                                      font-weight: 400;
                                      font-size: 14px;
                                      margin: 0px !important;
                                      white-space: pre-wrap !important;
                                      font-family: 'Roboto', Arial;
                                      display: inline-block !important;
                                      letter-spacing: 0.32px;
                                      line-height: 28px;
                                      color: #333;
                                      text-align: left;
                                      word-break: break-word;
                                    "
                                >
                                  {{email.subject}}</pre>
                              </td>
                            </tr>

                            <tr>
                              <td height='12'></td>
                            </tr>

                            <tr>
                              <td style='display: none'>
                                <span style='font-weight: bold'>Private message for you :</span>
                                <br />
                                <pre
                                  style="
                                      font-weight: 400;
                                      font-size: 14px;
                                      margin: 0px !important;
                                      white-space: pre-wrap !important;
                                      font-family: 'Roboto', Arial;
                                      display: inline-block !important;
                                      letter-spacing: 0.32px;
                                      line-height: 28px;
                                      color: #333;
                                      text-align: left;
                                      word-break: break-word;
                                    "
                                >
                                  {privatemessage}</pre>
                              </td>
                            </tr>

                            <tr>
                              <td height='24' style='font-size: 1px'></td>
                            </tr>
                            <tr>
                              <td
                                height='1'
                                width='510'
                                style='font-size: 1px; line-height: 1px; max-width: 510px; background-color: #eeeeee'
                              ></td>
                            </tr>
                            <tr>
                              <td height='24' style='font-size: 1px'></td>
                            </tr>
                            <tr>
                              <td
                                style="
                                    color: #333;
                                    text-align: left;
                                    font-size: 16px;
                                    font-family: 'Roboto', Arial;
                                    line-height: 28px;
                                    letter-spacing: 0.32px;
                                  "
                              >
                                <span style='font-weight: bold'>Sender:</span><br /><span
                                  style='font-size: 14px; font-weight: 400'
                                ><table>
                                    <tbody>
                                      {{#each senderDetails}}
                                      <tr>
                                        <td style='padding: 10px 0px 0px 0px'>
                                          {{this.senderName}} (<a
                                            href='mailto:{{this.senderEmail}}'
                                            target='_blank'
                                          >{{this.senderEmail}}</a>)
                                        </td>
                                      </tr>
                                      {{/each}}

                                    </tbody>
                                  </table></span>
                              </td>
                            </tr>
                            <tr>
                              <td style='height: 12px'></td>
                            </tr>
                            <tr>
                              <td
                                style="
                                    color: #333;
                                    text-align: left;
                                    font-size: 16px;
                                    font-family: 'Roboto', Arial;
                                    line-height: 28px;
                                    letter-spacing: 0.32px;
                                  "
                              >
                                <span style='font-weight: bold'>Signer(s):</span><br /><span
                                  style='font-size: 14px; font-weight: 400'
                                ><table>
                                    <tbody>
                                      {{#each signerDetails}}
                                      <tr>
                                        <td style='padding: 10px 0px 0px 0px'>
                                          {{this.signerName}} (<a
                                            href='mailto:{{this.signerEmail}}'
                                            target='_blank'
                                          >{{this.signerEmail}}</a>)
                                        </td>
                                      </tr>
                                      {{/each}}

                                    </tbody>
                                  </table></span>
                              </td>
                            </tr>
                            <tr>
                              <td style='height: 12px'></td>
                            </tr>
                            <tr>
                              <td align='center' valign='top'>
                                <table
                                  align='center'
                                  border='0'
                                  cellpadding='0'
                                  cellspacing='0'
                                  style='border-collapse: collapse'
                                  width='95%'
                                >
                                  <tbody>
                                    <tr>
                                      <td height='32'></td>
                                    </tr>
                                    <tr>
                                      <td align='center' valign='top'>
                                        <table
                                          align='center'
                                          border='0'
                                          cellpadding='0'
                                          cellspacing='0'
                                          style='border-collapse: collapse'
                                        >
                                          <tbody>
                                            <tr>
                                              <td
                                                align='center'
                                                height='44'
                                                width='300'
                                                style='background: #ffd000; border-radius: 4px'
                                              >
                                                <a
                                                  href="{{signLink}}"
                                                  style="
                                                      white-space: nowrap !important;
                                                      font-family: 'Roboto', Arial;
                                                      font-weight: bold;
                                                      color: white;
                                                      text-decoration: none !important;
                                                      background: #ffd000;
                                                      border-radius: 4px;
                                                      font-size: 16px;
                                                      letter-spacing: 0.32px;
                                                      display: inline-block;
                                                    "
                                                  target='_blank'
                                                >
                                                  <span style='color: #000; text-decoration: none; padding: 0px 10px'>Review
                                                    and Sign</span>
                                                </a>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td height='24'></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td align='center' valign='top' style='padding-bottom: 40px'>
                <table border='0' cellpadding='0' cellspacing='0' width='100%' id='m_-6147447818313554608templateFooter'>
                  <tbody>
                    <tr>
                      <td align='center' valign='top'>
                        <table border='0' cellpadding='0' cellspacing='0' bgcolor='#F7FAFC' width='100%'>
                          <tbody>
                            <tr>
                              <td valign='top' style='padding-top: 9px; padding-bottom: 9px'>
                                <table border='0' cellpadding='0' cellspacing='0' width='100%' style='min-width: 100%'>
                                  <tbody>
                                    <tr>
                                      <td valign='top' style='padding-top: 9px'>
                                        <table
                                          align='left'
                                          border='0'
                                          cellpadding='0'
                                          cellspacing='0'
                                          style='max-width: 100%; min-width: 100%'
                                          width='100%'
                                        >
                                          <tbody>
                                            <tr>
                                              <td valign='top' style='padding: 0px 18px 9px; line-height: 150%'>
                                                <div style='text-align: center'>
                                                  <span style='font-size: 12px'><span
                                                      style='
                                                          font-family: roboto, helvetica neue, helvetica, arial, sans-serif;
                                                        '
                                                    ><span style='color: #666e80'>Please do not share this email since it
                                                        contains your unique link for signing the document.<br />Use this
                                                        link to report and stop future emails if you suspect an error or
                                                        spam.
                                                        <a
                                                          href="https://vakilsearch.com"
                                                          style='color: #3307f7; text-decoration: none'
                                                          target='_blank'
                                                        >Report this Email</a></span></span></span>
                                                </div>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <table
                                  border='0'
                                  cellpadding='0'
                                  cellspacing='0'
                                  width='100%'
                                  style='min-width: 100%; display: none'
                                >
                                  <tbody>
                                    <tr>
                                      <td valign='top' style='padding: 0px'>
                                        <table
                                          align='left'
                                          width='100%'
                                          border='0'
                                          cellpadding='0'
                                          cellspacing='0'
                                          style='min-width: 100%'
                                        >
                                          <tbody>
                                            <tr>
                                              <td
                                                valign='top'
                                                style='
                                                    padding-right: 0px;
                                                    padding-left: 0px;
                                                    padding-top: 0;
                                                    padding-bottom: 0;
                                                    text-align: center;
                                                  '
                                              >
                                                <img
                                                  align='center'
                                                  alt='BoldSign footer logo'
                                                  src='https://ci4.googleusercontent.com/proxy/hGl2wNpp7jrKzdkyZC-T4c6rs636_tc-GNcB9eZAsQmSYFLW7kUa_tOtL7wrHUZ7ruTs0-NmSkVDJlrTc-Uxf6PnAnocOYJ4WROM=s0-d-e1-ft#https://static.boldsign.com/img/boldsign-footer-logo.png'
                                                  style='
                                                      width: 150px;
                                                      padding-bottom: 0;
                                                      display: inline !important;
                                                      vertical-align: bottom;
                                                    '
                                                  class='CToWUd'
                                                  data-bit='iit'
                                                />
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td align='center' height='20' valign='top'></td>
    </tr>
  </tbody>
</table>